@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

/* gambiarra para fazer o height ficar em 100% (ocupar a tela toda).*/
html{
    height: 100%;
}

.btn-action{
    border-radius: 6px 6px 0px 0px;
    margin-right: 15px;
    color: #f2f2f2;
    border: none;
    background-color: transparent;
    height: 90%;
    cursor: pointer;
}

.btn-action:hover{
    background-color: #f2f2f2;
    color: black;
}

.nav-bar{
    background-color: #606470;
    width: 100%;
    height: 10%;
    padding-left: 15px;
    display: flex;
    align-items: flex-end;
}

#calculadoraIMC, #calculadoraArea, #conversorTemperatura, #conversorMoedas{
    display: none;
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#calculadoraIMC, #calculadoraArea, #conversorTemperatura, #conversorMoedas{
    flex-direction: column;
}

#calculadoraIMC input[type="number"], #calculadoraArea input[type="number"], #conversorTemperatura input[type="number"], #conversorMoedas input[type="number"]{
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #606470;
    outline: none;
    margin-bottom: 15px;
    background-color: transparent;
}

#calculadoraIMC input[type="button"], #calculadoraArea input[type="button"], #conversorTemperatura input[type="button"], #conversorMoedas input[type="button"]{
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #606470;
    margin-top: 20px;
    width: 130px;
    height: 30px;
    cursor: pointer;
}

#calculadoraIMC input[type="button"]:hover, #calculadoraArea input[type="button"]:hover, #conversorTemperatura input[type="button"]:hover, #conversorMoedas input[type="button"]:hover{
    background-color: #717580;
}

.exibirResultadoClass{
    font-size: 20px;
    margin-top: 15px;
}

.selecionar{
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    background-color: #606470;
    height: 30px;
    color: white;
    outline: none;
}